<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en-US"><![endif]-->

<style type="text/css">
body {
  background-color: #444444;
  font-size: 12px;
}

#sys_info {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 400px;
  margin-top: -200px;
  margin-left: -300px;
}
</style>

<head>
  <title>{{ .Hostname }}</title>
</head>

<body>
  <div id="sys_info">
  <p>Hostname: {{ .Hostname }}</p>
  <p>CPU Usage: {{ .CPUUsage }}%</p>
  <p>Uptime: {{ .Uptime }}</p>
  <p>Loads - 1m: {{ .Load1 }} 5m: {{ .Load5 }} 15m: {{ .Load15 }}</p>
  <p>Processes: {{ .Procs }}</p>
  <p>Memory -  Total: {{ .TotalRam }}MiB | Free: {{ .FreeRam }}MiB | Buffered: {{ .BufferRam }}MiB</p>
  </div>
</body>
</html>
