<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en-US"><![endif]-->

<head>
  <link rel="stylesheet" href="/assets/css/main.css">
  <title>{{ .Hostname }}</title>
</head>

<body>
  <div id="sys_info">
  <p>Hostname: {{ .Hostname }}</p>
  <p>CPU Usage: {{ .CPUUsage }}%</p>
  <p>Uptime: {{ .Uptime }}</p>
  <p>Loads - 1m: {{ .Load1 }} 5m: {{ .Load5 }} 15m: {{ .Load15 }}</p>
  <p>Processes: {{ .Procs }}</p>
  <p>Memory -  Total: {{ .TotalRam }}MiB | Free: {{ .FreeRam }}MiB | Buffered: {{ .BufferRam }}MiB</p>
  <p>Sys Name: {{ .Sysname }}</p>
  <p>Release: {{ .Release }}</p>
  <p>Version: {{ .Version }}</p>
  <p>Machine: {{ .Machine }}</p>
  <p>Domain Name: {{ .Domainname }}</p>
  </div>
</body>
</html>
